.category-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.allcategorylist {
  width: 30%;
}
.category-containeror {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin-top: 2.5rem !important;
  padding-top: 2%;
  border-radius: 1px solid black;
  justify-content: space-around;
  align-items: center;
}
.product-Desc {
  display: flex;
  width: 50%;
  height: 40%;
  margin: 30px;
  border-radius: 10px;
}
.category-image {
  width: 120px;
  height: 80px;
}
.product-cart1 {
  margin-bottom: 20px;
}
